@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
 @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
 @import url("root.css");

 body, html {
  background-color: var(--default-b);
  overscroll-behavior: none;
    touch-action: pan-x pan-y;
}
 * {
    box-sizing: border-box;
 }
 html, body, * {
     font-family: var(--font), sans-serif;
  }
  .material-symbols-outlined {
     font-family: var(--icon-f);
  }
  
  a, button, input, select, textarea, span, i {
  -webkit-tap-highlight-color: transparent;
}

a, button,span, i {
   cursor: pointer;
}
a {
   text-decoration:none!important;
   color: var(--b-t);
   font-weight: 600;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: rgba(255,255,255, .8) !important;
  caret-color: var(--w-t) !important;
  transition: background-color 9999s ease-in-out 0s !important;
}
.button-p {
      background-color: var(--b-t);
      color: var(--w-t);
      font-weight: 500;
      border: none;
      border-radius: var(--p30);
      padding: var(--p15) 0;
      cursor: pointer;
      font-size: 1rem;
      width: var(--p100p);
      box-shadow: inset 0 -5px var(--p10) rgba(0,0,0,0.25);
      transition: all 0.1s;
    }
    .button-p:hover {
      background-color: var(--b-t-b);
    }
    .button-p img {
       width: var(--p22);
    }
    .button-p#b_g {
       display: flex;
       align-items: center;
       justify-content: center;
       gap: var(--p15);
       background-color: transparent;
       box-shadow: none;
       border: 1.5px solid var(--c5);
       vertical-align: top;
    }
    #lottie {
  width: 250px;
  height: 250px;
  max-width: var(--p100p);
}

#lottie-w {
   width: 350px;
  height: 350px;
  max-width: var(--p100p);
}
.scroll-container {
    height: calc(100vh - 64px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }
.scroll-container-1 {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}