:root {
  /* font */
  --font: "Stack Sans Headline";
  --icon-f: "Material Symbols Outlined";

  /* dasar */
  --default-b: #2a2a2a;
  --w-t: #fff;
  --b-t: #2567CB;
  --b-t-b: #1E4FA1;
  --c5: #555;
  --c6: #666;
  --c8: #888;
  --c9: #999;
  --d4: #d4d4d4;

  /* turunan tambahan */
  --w-op01: rgba(255, 255, 255, 0.1);
  --w-op02: rgba(255, 255, 255, 0.2);
  --w-op005: rgba(255, 255, 255, 0.05);

  /* bg tambahan */
  --b-dark: #1a1a1a;

  /* ukuran */
  --p5: 5px;
  --p10: 10px;
  --p15: 15px;
  --p16: 16px;
  --p20: 20px;
  --p22: 22px;
  --p25: 25px;
  --p30: 30px;
  --p40: 40px;
  --p50: 50px;
  --p100p: 100%;
}